@font-face {
  font-family: 'Gagalin-Regular';
  src: url(../fonts/Gagalin/Gagalin-Regular.otf); }

@font-face {
  font-family: 'Lifehack Medium';
  src: url(../fonts/Lifehack-Medium.otf); }

@font-face {
  font-family: 'Ubuntu-B';
  src: url(../fonts/Ubuntu/Ubuntu-B.ttf);
  font-weight: bold; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
  font-weight: lighter; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 600; }

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-weight: normal; }

.order__btn {
  list-style-position: inside;
  font-family: 'Ubuntu-medium';
  font-size: 13px;
  text-transform: uppercase;
  background: #e45028;
  color: white;
  width: 96px;
  height: 35px;
  border: none;
  border-radius: 5px; }

.moreinfo__btn {
  list-style-position: inside;
  font-family: 'Ubuntu-medium';
  font-size: 13px;
  text-transform: uppercase;
  background: #e45028;
  color: white;
  width: 96px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: #2f3234; }
  .moreinfo__btn:hover {
    background: #1f2122; }

ul {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Ubuntu-light';
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: white; }

.wrapper {
  overflow: hidden;
  width: 100%; }

.container {
  max-width: 960px;
  margin: 0 auto; }

.pagination {
  position: fixed;
  left: 90vw;
  top: 10vw;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.pagination__li {
  list-style-type: none;
  margin-bottom: 15px; }

.pagination__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  -webkit-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
  outline: none;
  background-color: white; }
  .pagination__input:checked {
    width: 14px;
    height: 14px; }

.section-1 {
  background: url("../img/video-bg.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo__img {
  width: 92px;
  height: 69px; }

.header__menu {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 10px 0 7%; }

.header__listitems {
  list-style-position: inside;
  font-family: 'Ubuntu-medium';
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 5px 0 5px; }
  .header__listitems a {
    color: white;
    text-decoration: none; }
  .header__listitems:first-child {
    list-style-type: none; }

.section-1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 400px; }

.section-1__drops {
  background: url("../img/drops.png") center center no-repeat;
  margin-left: 15px;
  width: 453px;
  position: relative; }

.section-1__burgerimg {
  width: 404px;
  margin: 42px 0 0px 42px; }

.section-1__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 0 14px 13px;
  max-width: 400px;
  height: 100%;
  line-height: 1.15; }

.section-1__text1 {
  font-family: 'Gagalin-Regular';
  font-size: 72px;
  color: #f9b43b; }

.section-1__text2 {
  font-family: 'Lifehack Medium';
  font-size: 65px; }

.section-1__scroll {
  text-align: center;
  margin-top: 140px; }

.section-2 {
  background: url("../img/bg-2.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.section-2__title {
  font-family: 'Gagalin-Regular';
  font-size: 72px;
  color: #f9b43b;
  color: #2f3234;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.section-2__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px; }

.section-2__item {
  padding: 10px;
  max-width: 300px; }

.section-2__itemimg {
  height: 89px;
  width: 100%; }

.itemimg--meat {
  background: url("../icons/meat.svg") center center no-repeat; }

.itemimg--hand {
  background: url("../icons/hand.svg") center center no-repeat; }

.itemimg--natural {
  background: url("../icons/natural.svg") center center no-repeat; }

.section-2__itemtext1 {
  font-family: 'Lifehack Medium';
  font-size: 24px;
  color: #2f3234;
  text-align: center;
  padding: 40px 10px 10px 10px; }

.section-2__itemtext2 {
  font-family: 'Ubuntu-Light';
  font-weight: 300;
  font-size: 14px;
  color: #2f3234;
  text-align: center; }

.section-3 {
  background: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  background: linear-gradient(0deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.section-6 {
  width: 100%;
  height: 100vh; }

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews__photo {
  width: 275px;
  height: 325px; }

.reviews__photo--1 {
  background: url("/img/section-6_photos/photo1.jpg"); }

.reviews__photo--2 {
  background: url("/img/section-6_photos/photo2.jpg"); }

.reviews__photo--3 {
  background: url("/img/section-6_photos/photo3.jpg"); }

.reviews__photo--4 {
  background: url("/img/section-6_photos/photo4.jpg"); }

.reviews__photo--5 {
  background: url("/img/section-6_photos/photo5.jpg"); }

.reviews__photo--6 {
  background: url("/img/section-6_photos/photo6.jpg"); }

.reviews__photo--7 {
  background: url("/img/section-6_photos/photo7.jpg"); }

.reviews__photo--8 {
  background: url("/img/section-6_photos/photo8.jpg"); }

.reviews__hover {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 0 20px 0 20px;
  background: rgba(20, 20, 20, 0.7); }

.reviews__name {
  font-family: 'Gagalin-Regular';
  font-size: 14px; }
