.adress {
    position: relative;
}

.map {
    width: 100%;
    height: 93%;
}

.map__hint {
    color: $color-red;
    border-radius: 10px;
    transform: scale(1);
}

.map__balloon {
    color: $color-red;
    font-size: 1.7rem;
}
