.adress {
    background: url('../img/section-9-bg.jpg') center center /cover no-repeat;
    position: relative;
}

.adress__mapmarker {
    width: 46px;
    height: 57.727px;
    position: absolute;
}

.adress__mapmarker--1 {
    top: 27%;
    left: 55.81818%;
}

.adress__mapmarker--2 {
    top: 67%;
    left: 32.81818%;
}

.adress__mapmarker--3 {
    top: 74%;
    left: 75.81818%;
}

.adress__mapmarker--4 {
    top: 24%;
    left: 35.81818%;
}