@font-face {
    font-family: 'Gagalin-Regular';
    src: url(../fonts/Gagalin/Gagalin-Regular.otf);
}
@font-face {
    font-family: 'Lifehack Medium';
    src: url(../fonts/Lifehack-Medium.otf);
}
@font-face {
    font-family: 'Ubuntu-B';
    src: url(../fonts/Ubuntu/Ubuntu-B.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
    font-weight: normal;
 }
 
 @mixin btn {
    list-style-position: inside;   
    font-family: 'Ubuntu-medium';
    font-size: 13px;
    text-transform: uppercase;
    background: $color-red;
    color: white;
    width: 96px;
    height: 35px;
    border: none;
    border-radius: 5px;
 }
 
 @mixin title {
    font-family: 'Gagalin-Regular';
    font-size: 72px;
    color: $color-orange;
 }

 @mixin section {
    width: 100%;
    height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
 }

$color-red: #e45028; 
$color-orange: #f9b43b;
$color-black: #2f3234;

.order__btn {
    @include btn();
}

.moreinfo__btn {
    @include btn();
    background: $color-black;
    &:hover {
        background: #1f2122;
    }
}

ul {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
  
body {
    font-family: 'Ubuntu-light';
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: white;
} 
.wrapper {
    overflow: hidden;
    width: 100%;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}

.pagination {
    position: fixed;
    left: 1050px;
    top: 90px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.pagination__li {
    list-style-type: none;
}

.pagination__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    transition: 0.1s all linear;
    outline: none;
    background-color: rgb(255, 255, 255);
    &:checked {
        width: 14px;
        height: 14px;
    }
}

  