.burgers {
    background: linear-gradient(0deg, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%);
}

.burgers__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.burgers__page {
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    
}

.burgers__page-visible {
    width: 100%;
    overflow: initial;
}

.burgers__wrap {
    display: flex;
    flex-direction: row;
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.burgers__photo {
    position: relative;
    @include tablets {
        text-align: center;
    }
}

.burgers__left, .burgers__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    position: relative;
    justify-content: center;
    @include tablets {
        width: 100%;
    }
}

.burgers__right {
    @include tablets {
        text-align: center;
        align-items: center;
    }
}

.burgers__consist {
    width: 9rem;
    height: 9rem;
    background: #f08c33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: -4rem;
    left: 1rem;
    transition: 0.4s;
    &:hover {
        background: $color-red;
        .burgers__table {
            opacity: 1;
            left: 9rem;
            top: 0;
        }
    }
    @include tablets {
        top: -20%;
        left: 18%;
    }
    @include phones {
        top: -33%;
        left: 0%;
    }
}

.burgers__consist-svg {
    width: 4.4rem;
    height: 4.1rem;
    padding-top: 0.5rem;
}

.burgers__consist__text, .burgers__kkal-num, .burgers__kkal-kkal {
    font-size: 1.4rem;
    font-family: 'Gagalin-Regular';
    color: rgb(255, 255, 255);
    line-height: 2.008;
}

.burgers__table {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    color: $color-black;
    font-family: 'Ubuntu-Medium';
    position: absolute;
    left: 0;
    top: -500rem;
    opacity: 0;
    transition: 0.4s;
    z-index: 1000;
}

.burgers__table {
    width: 27rem;
    padding: 1rem 0;
}

.burgers__table-row {
    // height: 5rem;   
}

.td-center {
    text-align: center;
}

.burgers__table-img {
    width: 5rem;
    height: 4rem;
}

.burgers__img {
    max-width: 100%;
    height: auto;
}

.burgers__kkal {
    opacity: 0.5;
    position: absolute;
    bottom: -2rem;
    left: 1rem;
    @include tablets {
        top: -18%;
        left: 75%;
    }
    @include phones {
        top: -32%;
        left: 87%;
    }
}

.burgers__kkal-svg {
    width: 6rem;
    height: 6rem;
}

.burgers__kkal-num {
    font-size: 2rem;
    position: absolute;
    text-align: center;
    top: 1.8rem;
    left: 1.3rem;
}

.burgers__kkal-kkal {
    position: absolute;
    text-align: center;
    top: 5.8rem;
    left: 1.4rem;
}

.burgers__title {
    color: white;
    line-height: 0.889;
    // margin-top: 5rem;
    margin-bottom: 5.5rem;
    @include tablets {
        width: 73%;
        margin-top: 1rem;
    }
}

.burgers__maintext {
    @include tablets {
        width: 81%;
    }
}

.burgers__price {
    display: flex;
    align-items: baseline;
    color: $color-red;
    line-height: 0.39;
    font-family: 'Gagalin-Regular';
    font-size: 3rem; 
    margin-top: 3.7rem;
}

.burgers__price-price {
    font-size: 7.2rem; 
    margin-right: 0.7rem;
}

.burgers__price-rub {
    margin-right: 3rem;
}

.burgers__nav-left {
    position: absolute;
    transform: rotate(90deg);
    top: 45%;
    left: -2%;
}

.burgers__nav-right {
    position: absolute;
    transform: rotate(-90deg);
    top: 45%;
    left: 100%;
}

.scrollsvg {
    fill: #FFFFFF;
}