footer {
    background: url('../img/footer-bg.jpg') center center / cover no-repeat;
    width:100%;
    position: absolute;
    bottom: 0;
    // top: calc(100% - 60px);
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include phones {
        margin-bottom: 2rem;
    }
}

.footer__phone {
    width: 11px;
    height: 11px; 
}

.footer__tel-link {
    color: $color-red;
    font-weight: bold;
    padding-left: 8px;
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__social-link {
    padding-left: 20px;
}

.footer__social-icon  {
    width: 20px;
    height: 20px;
    fill: #5b5b5b;
    transition: 0.3s;
    transform: scale(1);
    &:hover {
        fill: white;
        transform: scale(1.2);
    }
}

