.form {
    background: url('../img/section-8-bg.jpg') center center / cover no-repeat;
}

.title__form {
    color: $color-orange;
    text-align: center;
    margin-bottom: 6.5rem;
    line-height: initial;
}

.form__wrap {
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    @include tablets {
        flex-direction: column;
        align-items: center;
    }
    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.form__row {
    margin-bottom: 1.2rem;
    align-items: center;
    display: flex;
    @include phones {
        justify-content: center;
    }
}

.form__row--last {
    @include tablets {
        margin-top: 3.5rem;
    }
}

.form__left, .form__right {
    width: 50%;
    @include tablets {
        width: 75%;
    }
    @include phones {
        width: 100%;
    }
}

.form__block {
    flex: 1;
    margin-right: 2rem;
    @include tablets {
        &:last-child {
            margin-right: 0rem;
        }
    }
}

.form__block-title {
    margin-bottom: 0.3rem;
}

.form__input {
    width: 100%;
    height: 3.4rem;
    border-radius: 0.5rem;
    border-color: rgb(209, 207, 203);
    border-style: solid;
    border-width: 0.1rem;
    outline-style: none; 
    &:focus {
        border-color: $color-orange;
        border-width: 0.3rem;
    }
}

.radio__block {
    display: flex;
    align-items: center;
}

.form__input--textarea {
    height: 10.5rem;
}

.radio__title {
    margin: 0 1.5rem 0 0.7rem; 
}

.form__clean {
    margin-left: 2rem;
    background: none;
    color: white;
    border: none;
}