.menu {
    background: url('../img/section-menu-bg.jpg') center center / cover no-repeat;
    position: relative;
}

.menu--title {
    color: white;
    position: absolute;
    top: 11.1rem;
    left: 9.5rem;
}

.menu__container {
    position: absolute;
    left: calc(100% - 78rem);
    width: 78rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    display: flex;
}

.menu__item-bg {
    width: 8rem;
    height: 100%;
    position: relative;
    @include phones {
        width: 6rem;
    }
}

.item-bg--meat {
        background: url('../img/menu-meat.jpg') center center / cover no-repeat;
}
.item-bg--vegan {
        background: url('../img/menu-vegan.jpg') center center / cover no-repeat;
}
.item-bg--diet {
        background: url('../img/menu-diet.jpg') center center / cover no-repeat;
}

.menu__item-title {
    color: white;
    font-family: 'Gagalin-Regular';
    font-size: 4rem;
    transform: rotate(-90deg);
    position: absolute;
    top: calc(100% - 19rem);
    width: 26.5rem;
    left: -9.5rem;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        color: $color-orange;
    }
    @include phones {
        left: -10.5rem;
    }
}
    
.menu__item-text {
    width: 0px;
    overflow: hidden;
 }

 .item__show {
    .menu__item-text {
        width: 54rem;
        height: 100%;
        background-color: rgba(47,50,52,0.93);
        padding: 6rem 1rem 0 3.5rem;
        @include tablets {
            width: 53rem;
        }
        @include phones {
            width: 34rem;
        }
     }
    .menu__item-title {
        color: $color-orange;
    }
    
}








