.reviews {
    background: black;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.reviews__item {
    width:25%;
    height:50%;
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
    position: relative;
    transform: scale(1);
    transition: 0.3s;
    &:hover {
        transform: scale(1.02);
        z-index: 500;
        .reviews__hover {
            opacity: 1;
            transform: scale(1);
            z-index: 1000;
        }
    }
    @include tablets {
        width:50%;
        height:25%;
    }
}

.reviews__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem 2rem 2rem;
    background: rgba(20, 20, 20, 0.7);
    opacity: 0;
    transform: scale(0.9);
    transition: 0.3s;  

}

.reviews__name {
    font-family: 'Gagalin-Regular';
    font-size: 1.4rem;
    @include phones {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    
}

.reviews__text {
    margin: 2rem 0 1.5rem 0;
    max-height: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    @include phones {
        display: none;
    }
}

.btn--allign-flex-start {
    align-self: flex-start;
    @include phones {
        align-self: center;
    }
}





