.section-1 {
    background: url('../img/video-bg.png');	
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.section-1__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 0.8;
}

.section-1__burgerimg{
    transform: scale(1);
    transition: 0.5s;
    &:hover {
        transform: scale(1.02);
    }
}

.section-1__textcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 13px;
    height: 100%;
    line-height: 1.15;
}
.section-1__title {
    @include title();
}

.section-1__text {
    font-family: 'Lifehack Medium';
    font-size: 65px;
    
}
.section-1__scroll {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
}

