.team {
    background: url('../img/section-4-bg.jpg') center center / cover no-repeat;	
    position: relative;
}

.container--team {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    background: rgba(47,50,52, 0.95);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @include tablets {
        left: 0;
        width: 100%;
    }
}

.team__content {
    width: 82.1000%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include tablets {
        width: 100%;
    }
    @include phones {
        height: 90%;
    }
}

.team__acc {
    height: 40%;
}

.team__acc-item {
    margin-bottom: 3.5rem;
    @include tablets {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    &:hover {
        cursor: pointer;
        & .team__acc-name {
        color: $color-orange;
        }
    }
    
}

.title__team {
    margin: 0 8rem 5rem 0;
    @include tablets {
        margin: 0 0rem 5rem 2rem;
    }
}

.icon__triangle-down {
    background-image: url('../icons/triangle_down.png');
    width: 0.9rem;
    height: 0.7rem;
    display: inline-block;
}

.team__acc-title {
    user-select: none;
    @include tablets {
        text-align: center;
    }
}

.team__acc-name {
    display: inline-block;
    margin-left: 1rem;
    font-family: 'Gagalin-Regular';
    line-height: 2.8rem;
    color: white;
    @include tablets {
        font-size: 2.5rem;
    }
}

.team__acc-hidden {
    display: flex;
    height: 0px;
    overflow: hidden;
    padding: 1rem 0 0 2rem;
    // transition: 0.5s;
    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.hidden__photo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 1.4rem;
}

.hidden__img {
    height: 100%;
    position: absolute;
    top: 0;
    left: -2rem;
    right: 0;
    bottom: 0;
}

.hidden__textblock {
    max-width: 24rem;
}

.hidden_title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.show {
    & .team__acc-hidden {
        height: 100%;
        overflow: initial;
        // padding: 1rem 0 0 2rem;
        // @include tablets {
        //     flex-direction: column;
        //     align-items: center;
        //     text-align: center;
        // }
    }
    & .team__acc-name {
        color: $color-orange;
    }

    & .icon__triangle-down {
        background-image: url('../icons/triangle_up.png');
    }
    & .hidden_title {
        @include tablets {
            margin-top: 2rem;
        }
    }
    & .hidden__photo {
        @include tablets {
                margin-right: 0;
        }
    }
    & .hidden__textblock {
        @include tablets {
            max-width: 80%;
        }
    }

}


// .section-4__acc-item:hover {
//     margin-bottom: 0px;

//     & .section-4__acc-hidden {
//         height: 150px;
//         overflow: initial;
//     }
//     & .section-4__acc-title {
//         color: $color-orange;
//     }

//     & .icon__triangle-down {
//         background-image: url('/icons/triangle_up.png');
//     }
// }

