.video {
    background: url('../img/section-7-video-bg.jpg') center center / cover no-repeat;
    position: relative;
}

.title--video {
    color: $color-black;
    text-align: center;
    margin: 3rem 0 11rem 0;
}

.video__container {
    display: flex;
    justify-content: center;
}

.video__player {
    width: 660px;
    height: 407px;
}