@font-face {
    font-family: 'Gagalin-Regular';
    src: url(../fonts/Gagalin/Gagalin-Regular.otf);
}
@font-face {
    font-family: 'Lifehack Medium';
    src: url(../fonts/Lifehack-Medium.otf);
}
@font-face {
    font-family: 'Ubuntu-B';
    src: url(../fonts/Ubuntu/Ubuntu-B.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
    font-weight: normal;
 }