
 @mixin btn { 
    font-family: 'Ubuntu-medium';
    font-size: 1.3rem;
    text-transform: uppercase;
    background: $color-red;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    transform: scale(1.0);
    transition: 0.5s;
 }
 
 @mixin title {
    font-family: 'Gagalin-Regular';
    font-size: 7.2rem;
    color: $color-orange;
 }
